---
import certificates from "../collections/certificates.json";
---
<div>
  {
    certificates.map((cert) => {
      return (
        <div class="flex flex-row mb-6">
          <img src={cert.issuerLogo} class="w-10 h-10 mt-1" />
          <div class="flex flex-col items-start pl-5">
            <a href={cert.url} target="_blank" title="Show credential"><h3 class="font-bold text-lg dark:text-neutral-300 hover:text-neutral-700 dark:hover:text-white">{cert.name}</h3></a>
            <p class="grow text-base text-neutral-600 dark:text-neutral-400">
              {cert.issuer}
            </p>
            <p class="text-base italic text-neutral-600 dark:text-neutral-500 trackign-widest">
              Issued {cert.issueDate}
            </p>
          </div>
        </div>
    )
    }
    )
  }
</div>
