---
import experiences from "../collections/experiences.json";
import MyExperience from "../components/my-experience.astro";
---

<div class="px-5">
  {
    experiences.map((experience, loop) => {
      return (
        <>
          {loop <= 1 ? (
            <div class="pb-10">
              <MyExperience
                dates={experience.dates}
                location={experience.location}
                role={experience.role}
                company={experience.company}
                descriptions={experience.descriptions}
                logo={experience.logo}
                tech_skills={experience.tech_skills}
              />
            </div>
          ) : (
            <MyExperience
              dates={experience.dates}
              location={experience.location}
              role={experience.role}
              company={experience.company}
              descriptions={experience.descriptions}
              logo={experience.logo}
              tech_skills={experience.tech_skills}
            />
          )}
        </>
      )
    })
  }
</div>