---
import experiences from "../collections/experiences.json";
import MyExperience from "../components/my-experience.astro";
---

<div class="px-5 py-10">
  {
    experiences.map((experience, loop) => {
      return (
        <>
          {loop <= 3 ? (
            <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
              <MyExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                descriptions={experience.descriptions}
                logo={experience.logo}
              />
            </div>
          ) : (
            <MyExperience
              dates={experience.dates}
              role={experience.role}
              company={experience.company}
              descriptions={experience.descriptions}
              logo={experience.logo}
            />
          )}
        </>
      )
    })
  }
</div>