---
const { logo, dates, role, company, descriptions, tech_skills, location } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <img src={logo} alt={company} class="w-10 h-10" />
  </div>

  <div class="flex flex-row my-1">
    <h3 class=" text-lg font-bold dark:text-neutral-100">{company}</h3>
    <p class="ml-auto dark:text-neutral-300 trackign-widest">{location}</p>
  </div>
  <div class="flex flex-row mb-1">
    <p class="text-md font-medium dark:text-neutral-300">{role}</p>
    <p class="ml-auto italic dark:text-neutral-300 trackign-widest">{dates}</p>
  </div>
  <ul>
  {descriptions.map((description: string) => {
    return <li>
      <p class="mb-2 text-base text-neutral-600 dark:text-neutral-400">
        {description}
      </p>
    </li>
  })}
  </ul>
  <div class="flex flex-wrap mt-2">
    {tech_skills.map((tech: string) => {
      return (
        <span class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 mx-1 my-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10">
          {tech}
        </span>
      )
    })}
</div>
